
.page_form_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.form_input{
    border-style: none;
    border-bottom: 2px solid #FF914A;
    width: 350px;
    margin: 0 0 25px 5px;
}

